<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
    backupGlobals="false"
    bootstrap="vendor/autoload.php"
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    executionOrder="random"
    failOnWarning="true"
    failOnRisky="true"
    failOnEmptyTestSuite="true"
    beStrictAboutOutputDuringTests="true"
    cacheDirectory=".phpunit.cache"
    backupStaticProperties="false"
>
    <testsuites>
        <testsuite name="Bnzo Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <junit outputFile="build/report.junit.xml" />
    </logging>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
    <php>
        <env name="FINTECTURE_APP_ID" value="d4f99646-e701-4366-bb4e-70144f419f2b" />
        <env name="FINTECTURE_APP_SECRET" value="d4f99646-e701-4366-bb4e-70144f419f2b" />
        <env name="FINTECTURE_ENVIRONMENT" value="sandbox" />
        <env name="FINTECTURE_PRIVATE_KEY"
            value="LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JSUJWUUlCQURBTkJna3Foa2lHOXcwQkFRRUZBQVNDQVQ4d2dnRTdBZ0VBQWtFQW8xdUYvTWRicE9Jci94WUQKZWs2K1RSTmtRUHovUzFYeWkzeWU4RG1XWUVoRzRuLzcyakpiM1Q5YmloNlhDVDk3OHpmek1meTdTSHp5MGs5Tgp2TE1ZWFFJREFRQUJBa0FPazZRcElrRHpQWnRmYjc5dnNvY1lxWnBRa2tMVm5oMitoS2hLRjFscnplSzh6V1pNCkZ3VTdjeHVHaittWWplU1VsS1NOeVpURldLSUs4cWJZQTBRQkFpRUExZmV5VEN3UE9ncnlvNVJhWGdhL3dSUGEKS0o1R2d1NWJQMDNtU2hZUjhhRUNJUUREY3ExVTZYQjROc3N3QWQrSUlyMTkxQnN6NGVPaWd0NTlGQ09ZWHhobApQUUloQU1aUTRYSVdlRHA5QVMyNmlCT1VQOUN1SE1yL0FDM0V6TkFjM0xDWVNpTmhBaUVBc0F1Z1V1WjkxdHBNCkJLNzdRQzFDajQ4NC9XK1BVYmNkWG42QVhXUHlubVVDSUhrMFlPbEhrWEFGdng1Z0FkRit2TTVEUG1JYTVwU3cKeU1CK1dKOER3ZW93Ci0tLS0tRU5EIFBSSVZBVEUgS0VZLS0tLS0K" />
    </php>
</phpunit>
